@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&family=Prata&family=Roboto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&family=Prata&family=Roboto+Serif&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: 'Mulish', sans-serif;
 }
h1, h2, h3, h4 {
  font-family: 'Prata', serif;
  color: #2f5275;
}

.title {
  font-family: 'Prata', serif;
  font-size: 3em !important;
  color: #5699cc;
 }
 
h1.title {
  color: #2F5275 !important;
}
.subtitle {
  font-family: 'Prata', serif;
  color: #2c6793;
}

/*--------------blocks ------------ */

/*.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 0.5em;
  background: #f5f5f5 5px center/3em no-repeat;
  background-size: 2.5em;
}*/

:root {
  --pink: #983E82;   /* hsl(315, 42%, 42%) */
  --orange: #E2A458; /* hsl( 33, 70%, 62%) */
  --yellow: #F5DC70; /* hsl( 49, 87%, 70%) */
  --green: #59935B;  /* hsl(122, 25%, 46%) */
  --blue: #467AAC;   /* hsl(209, 42%, 47%) */
  --purple: #61589C; /* hsl(248, 28%, 48%) */
}

.danger, .warning, .info , .alert, .try, .infobox {
  padding: 1em 1em 0.25em 3.5em;
  margin-bottom: 10px;
  background-color: hsla(0, 0%, 100%, .1);
  background-position: 0.5em 0.5em;
  background-size: 2.5em;
  background-repeat: no-repeat;
  border-radius: 0.5em;
  box-shadow: 4px 4px 4px #888
}

.exercise:not(span) {
  background-image: url("images/alerts/dumbbell-solid.svg");
  padding: 1em 1em 1em 3.5em;
  margin-bottom: 10px;
  background-color: hsla(120, 100%, 50%, .2);
  background-position: 0.5em 0.5em;
  background-size: 2.5em;
  background-repeat: no-repeat;
  border-radius: 0.5em;
  border: 1px solid var(--green);
  box-shadow: 4px 4px 4px #888
}

.myquotes {
  padding: 1em 1em 0.25em 3.5em;
  margin-bottom: 10px;
  margin-left: 2em;
  margin-right: 2em;
  background-color: hsla(0, 0%, 100%, .1);
  background-position: 0.5em 0.5em;
  background-size: 2.5em;
  background-repeat: no-repeat;
  border-radius: 0.5em;
  box-shadow: 4px 4px 4px #888
}

.myquotes {
  background-image: url("images/alerts/quote-left-solid.svg");
  background-color: #FFF8DC; /*hsla(209, 42%, 47%, .2);*/
  border: 0px solid var(--yellow);
}

.info {
  background-image: url("images/alerts/info-circle-solid.svg");
  background-color: #B5FFFB; /*hsla(209, 42%, 47%, .2);*/
  border: 1px solid var(--blue);
}

.try {
  background-image: url("images/alerts/hands-wash-solid.svg");
  /*background-color: hsla(248, 28%, 48%, .1);*/
  background-color: #E7FF11;
  border: 1px solid var(--yellow);
}

.alert {
  background-image: url("images/alerts/bell-regular.svg");
  /*background-color: hsl(0,100%,50%, .3);/*hsla(315, 42%, 42%, .10); */
  background-color: #FFCA27;
  border: 1px solid var(--orange);
}

.warning {
  background-image: url("images/alerts/bomb-solid.svg");
  /*background-color: hsla(49, 87%, 70%, .1);*/
  background-color: #FF8296;
  border: 1px solid var(--purple);
}


.danger {
  background-image: url("images/alerts/skull-crossbones-solid.svg");
  /*background-color: hsl(0,100%,50%, .3);/*hsla(315, 42%, 42%, .10); */
  background-color: #F73250;
  border: 1px solid var(--pink);
}


div.sourceCode {
    background-color: inherit;
}

.Rchunk{
  background-color: #e9f9ff !important;
  border-radius: 5px !important;
  /*font-weight: bolder;*/
  /*color: red !important;*/
}


book.color-theme-2 .book-body .page-wrapper .page-inner section.normal pre, .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal code {
  background-color: inherit;
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal hr {
    background-color: #DBD0C4;
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal hr {
    background-color: #3f3f3f;
}

book.color-theme-1 .book-body .page-wrapper .page-inner section.normal pre, .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal code {
  background-color: inherit;
}

/* R code output format */

.Rout {
  /*background-color: #d9edf7 !important;*/
  color: white !important;
  background-color: black !important;
  /*border: 1px solid lightgrey !important;*/
  border-radius: 5px !important;
  /*font-weight: bolder;*/
  /*color: blue !important;*/
}

/*H1 title style */

h1.title {
    font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 > .header-section-number {
    display: inline-block;
    border-bottom: 5px solid;
}

.header-section-number {
    padding-right: 0.2em;
    font-weight: 800;
}

.level1 h1 {
    border-bottom: 1px solid;
}



.csl-entry {
        padding-left: 1.5em;
        text-indent:-1.5em;
    }
    
pre code {
  white-space: pre-wrap;
}

/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-summary ul.summary li.divider {
    height: 0px;
}


/*------------ TOC --------------*/

.book .book-summary {
  background: #F7FBFD;
  border-right: none;
  /*border-right: 1px #5699cc solid;*/
}

.summary{
font-family: 'Muli', sans-serif;
}

  /* all TOC list items, basically */

.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #2f5175;
}

.summary a:hover {
  color: #50ABB2 !important; /*#778ca5 !important;*/
} 

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #50ABB2 !important; /*#778ca5 !important;*/
  border-left: solid 5px;
  border-color: #50ABB2;
  padding-left: 10px !important;
}  

/* for TOC part names */

li.appendix span, li.part span { 
  margin-top: 1em;
  color: color: #1c3046 !important;
  opacity: 1 !important;
  text-transform: uppercase;
}

/* header h1*/

